<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="/css/register_page.css">
</head>
<body>
  <h1>MP3 Converter</h1>
  <h2>Daftar</h2>
  <form method="POST" action="/register">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">kirim</button>
    <div class="logout-button">
      <br><br>
      <a href="/logout">Kembali ke halaman login</a> 
    </div>
  </form>
</body>
</html>